{% extends 'base.html' %}

{% set active_page = 'references' %}

{% block css %}
<style>
    .references-list {
        max-width: 800px;
        margin: 0 auto;
    }

    .reference-item {
        margin-bottom: 1.5rem;
        padding-left: 2rem;
        text-indent: -2rem;
        line-height: 1.8;
    }

    .reference-item a {
        color: #0d6efd;
        text-decoration: none;
    }

    .reference-item a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block content %}
<div class="hero-section">
    <h1 class="display-6">Works Cited</h1>
</div>

<div class="container">
    <div class="references-list">

        <p class="reference-item">
            Barnwell, M. "Soul-making Theodicy and Compatibilism: New Problems and a New Interpretation." <em>International Journal of Philosophy of Religion</em>, vol. 82, 2017, pp. 29–46. <a href="https://doi.org/10.1007/s11153-017-9617-2" target="_blank" rel="noopener noreferrer">https://doi.org/10.1007/s11153-017-9617-2</a>
        </p>


        <p class="reference-item">
            Campbell, Ronnie. <em>Mere Christian Theism and the Problem of Evil: Toward a Trinitarian Perichoretic Theodicy</em>. 2015. Liberty University, PhD dissertation. <em>PhilPapers</em>, <a href="https://philpapers.org/rec/CAMMCT" target="_blank" rel="noopener noreferrer">philpapers.org/rec/CAMMCT</a>
        </p>

        <p class="reference-item">
            Inspiring Philosophy. "The Problem of Evil: A Christian Response." <em>YouTube</em>, 4 Jan. 2019, <a href="https://youtu.be/Ei0gPoqx_bQ" target="_blank" rel="noopener noreferrer">youtu.be/Ei0gPoqx_bQ</a>
        </p>


        <p class="reference-item">
            Meister, Chad, and Phillip Cary. <em>God and the Problem of Evil: Five Views</em>. Edited by Chad V. Meister and James K. Dew, 1st ed., IVP Academic, 2017.
        </p>

        <p class="reference-item">
            <em>The New American Standard Bible: 1995 Update.</em> The Lockman Foundation, 1995.
        </p>



        <p class="reference-item">
            Park, Crystal L., et al. "When Suffering Contradicts Belief: Measuring Theodical Struggling." <em>Current Psychology</em>, 3 May 2023, pp. 1–13. <a href="https://doi.org/10.1007/s12144-023-04642-w" target="_blank" rel="noopener noreferrer">https://doi.org/10.1007/s12144-023-04642-w</a>
        </p>

        <p class="reference-item">
            Ramage, Matthew J. "Evolution, Angels, and the Origin of Evil in Aquinas, Ratzinger, and Pendergast." <em>Religions</em>, vol. 16, no. 12, Dec. 2025, p. 1515. <a href="https://doi.org/10.3390/rel16121515" target="_blank" rel="noopener noreferrer">https://doi.org/10.3390/rel16121515</a>
        </p>

        <p class="reference-item">
            Rehman, Atta Ur. "The question of why an all-loving God would permit evil and suffering has long stood at the center of philosophy of religion." <em>Facebook</em>, 9 Feb. 2026, <a href="https://www.facebook.com/groups/849994733672039/posts/1282066520464856/" target="_blank" rel="noopener noreferrer">www.facebook.com/groups/849994733672039/posts/1282066520464856/</a>
        </p>

        <p class="reference-item">
            Sanguineti, Juan José. "God in the Face of Natural and Moral Evils: A Thomistic Approach." <em>Religions</em>, vol. 14, no. 7, June 2023, p. 816. <a href="https://doi.org/10.3390/rel14070816" target="_blank" rel="noopener noreferrer">https://doi.org/10.3390/rel14070816</a>
        </p>

        <p class="reference-item">
            The Thomistic Institute. "The Problem of Evil (Aquinas 101)." <em>YouTube</em>, 20 Jan. 2020, <a href="https://youtu.be/Oo4hF3IYGp4" target="_blank" rel="noopener noreferrer">youtu.be/Oo4hF3IYGp4</a>
        </p>

        <p class="reference-item">
            Tooley, Michael. "The Problem of Evil." <em>The Stanford Encyclopedia of Philosophy</em>, Fall 2025 ed., edited by Edward N. Zalta and Uri Nodelman, <a href="https://plato.stanford.edu/archives/fall2025/entries/evil/" target="_blank" rel="noopener noreferrer">plato.stanford.edu/archives/fall2025/entries/evil/</a>
        </p>

        <p class="reference-item">
            Trakakis, Nick. "The Evidential Problem of Evil." <em>Internet Encyclopedia of Philosophy</em>, <a href="https://iep.utm.edu/evil-evi/" target="_blank" rel="noopener noreferrer">iep.utm.edu/evil-evi/</a>
        </p>

        <p class="reference-item">
            Trakakis, Nick, editor. <em>The Problem of Evil: Eight Views in Dialogue</em>. 1st ed., Oxford University Press, 2019.
        </p>

        <p class="reference-item">
            Williams, Tate Matthew. <em>Theodicy and the Interpersonal Problem of Evil</em>. 2021. PhD dissertation. <em>CORE</em>, <a href="https://core.ac.uk/works/108403132/" target="_blank" rel="noopener noreferrer">core.ac.uk/works/108403132/</a>
        </p>

    </div>
</div>
{% endblock %}
